<div [ngClass]="{ open: openSidebarRight }" class="sidebar-im border-right border-light">
  <ng-container *ngTemplateOutlet="loading ? sidebarLoader: sidebarContent"></ng-container>
  <!-- Content -->
  <ng-template #sidebarContent>
    <div class="sidebar-content">
      <div class="sidebar-search">
        <div [ngClass]="{ hidden: !openSidebarRight }" class="input-group">
          <div class="inner-addon right-addon">
            <i class="fa fa-search text-muted" style="opacity: 0.5;"></i>
            <input (input)="onSearchChange($event)" type="text" class="form-control search-menu" placeholder="{{ 'IM.Search' | translate }}">
          </div>
        </div>
      </div>
      <div class="sidebar-menu">
        <perfect-scrollbar>
          <div *ngFor="let menu of menus; let i = index">
            <div
              class="header-menu d-flex align-items-center text-secondary justify-content-between font-weight-bold border-top border-light">
              <div class="d-flex align-items-center">
                <button (click)="collapseMenus(i)" type="button"
                  class="p-1 mr-1 header-menu-caret btn btn-sm btn-light">
                  <div *ngIf="menu.collapse;then collapseContent else noCollapseContent"></div>
                  <ng-template #collapseContent><i class="fas fa-caret-down"></i></ng-template>
                  <ng-template #noCollapseContent><i class="fas fa-caret-right"></i></ng-template>
                </button>
                <div>{{menu.title}}</div>
              </div>
            </div>
            <div *ngIf="menu.collapse">
              <ul class="nav navbar-nav" *ngFor="let child of menu.children">
                <li routerLinkActive="active" *ngIf="childIsMember(child)">
                  <a
                    class="d-flex align-items-center justify-content-between text-secondary btn"
                    (click)="!isAdmin && currentUser.id !== child.id ? null : viewMember(child)"
                  >
                    <div>{{child.name}}</div>
                    <i class="fa fa-light fa-angle-right"></i>
                  </a>
                </li>
                <li routerLinkActive="active" *ngIf="childIsAttachment(child)">
                  <a
                    class="d-flex align-items-center justify-content-between text-secondary btn"
                    (click)="viewAttachment(child)"
                  >
                    <div>{{child.alternateName}}</div>
                    <i class="fa fa-light fa-angle-right"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </perfect-scrollbar>
      </div>
    </div>
  </ng-template>
  <!-- Loader -->
  <ng-template #sidebarLoader>
    <div class="w-100 h-100 d-flex align-items-center justify-content-center p-5 text-center">
      <div class="spinner-border text-secondary" role="status"></div>
    </div>
  </ng-template>
</div>
