<div *ngIf="room" bsModal #instantNotificationModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
  aria-labelledby="myModalLabel" aria-hidden="true" [config]="{backdrop: 'static', keyboard: false}">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <div>
          <h4 class="modal-title">
            <i class="fa fa-bell text-warning"></i>&nbsp;
            {{ 'IM.InstantNotification' | translate }}
          </h4>
          <div class="alert alert-info my-2">
            <i class="fa fa-info-circle"></i>&nbsp;
            {{ 'IM.InstantNotificationConfirmation' | translate }}
          </div>
          <h6>
            {{ 'IM.InstantNotificationDescription' | translate }}
          </h6>
          <kbd title="{{room.headline.length > 50 ? room.headline : ''}}">
            <strong>#</strong>
            {{room.headline}}
          </kbd>
        </div>
        <button type="button" class="close" aria-label="Close" (click)="instantNotificationModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body py-0">
        <im-content-actions [selectedId]="room.id" [isInstantNotification]="true"></im-content-actions>
      </div>
      <div class="modal-footer">
        <div class="btn-group d-flex justify-content-between w-100">
          <button type="button" class="btn btn-pill btn-sm btn-secondary mr-2"
            (click)="instantNotificationModal.hide()">
            <i class="fa fa-times"></i>
            {{ 'IM.Close' | translate }}
          </button>
        </div>
      </div>
    </div>
  </div>
</div>