<div [formGroup]="form">
  <quill-editor
    class="editor"
    [placeholder]="(userCanType ? 'IM.TypeMessage' : 'IM.ReadOnlyMessage') | translate"
    formControlName="input"
    [modules]="quillConfig"
    [readOnly]="!userCanType"
  >
  </quill-editor>
</div>
<div class="w-100 d-flex justify-content-between align-items-center p-2">
  <div class="font-weight-light font-italic">
    {{strip(f.input.value)}}
    <span [translate]="'IM.Characters'"></span>
  </div>
  <button (click)="postMessage()" [disabled]="sendButtonDisabled || strip(f.input.value) === 0 || !userCanType" type="button" class="btn btn-sm btn-pill"
    [ngClass]="isInstantNotification ? 'btn-warning' : 'btn-primary'"
  >
    <i class="fa fa-light fa-paper-plane mr-2"></i>
    <span [translate]="'IM.Send'"></span>
  </button>
</div>
