.editor {
  .ql-toolbar.ql-snow {
    border-left: none;
    border-right: none;
  }

  .ql-container {
    max-height: 200px !important;
    overflow-y: auto;
  }

  .ql-container.ql-snow {
    border: none;
  }

  .ql-editor {
    word-break: break-all;
  }
}