<div bsModal #membersModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true" [config]="{backdrop: 'static', keyboard: false}">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">
          <i class="fa fa-users"></i>&nbsp;
          {{ 'IM.Members' | translate }}
        </h4>
        <button type="button" class="close" aria-label="Close" (click)="close()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="d-flex mb-2 gap-2">
          <button *ngIf="canPopulate" (click)="populateMembers()" type="button" class="btn btn-pill btn-success btn-sm mr-1">
            <span class="text-nowrap">
              <i class="fa fa-light fa-sync pr-2"></i>
              {{ 'IM.PopulateMembers' | translate }}
            </span>
          </button>
          <button (click)="openAddMemberModal()" type="button" class="btn btn-pill btn-primary btn-sm">
            <span class="text-nowrap">
              <i class="fa fa-light fa-plus pr-2"></i>
              {{ 'IM.AddMember' | translate }}
            </span>
          </button>
        </div>
        <im-current-members-table [members]="channelTableMembers" [maxSize]="maxSize"
          (removeEmit)="removeEmit($event, 'current')"
          [openViewMemberModal]="openViewMemberModal"></im-current-members-table>
        <im-new-members-table [members]="newMembers" [maxSize]="maxSize" (removeEmit)="removeEmit($event, 'new')"
          (editEmit)="editEmit($event)"></im-new-members-table>

        <div class="btn-group d-flex justify-content-between">
          <button (click)="close()" type="button" class="btn btn-pill btn-sm btn-secondary mr-2">
            <i class="fa fa-times"></i>
            {{ 'IM.Close' | translate }}
          </button>
          <button [disabled]="isDisabled()" (click)="save()" type="button" class="btn btn-pill btn-sm btn-primary">
            <div *ngIf="loading" class="spinner-border spinner-border-sm" role="status">
              <span class="sr-only">Loading...</span>
            </div>
            <span>
              <i class="fa fa-save"></i>
              {{ 'IM.Save' | translate }}
            </span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<im-add-edit-member-channel [members]="channelTableMembers" [newMembers]="newMembers" (newUser)="newUser($event)"
  (editUser)="editUser($event)"></im-add-edit-member-channel>