<div bsModal #addMemberChannelModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
  aria-labelledby="myModalLabel" aria-hidden="true" [config]="{backdrop: 'static', keyboard: false}">
  <div class="modal-dialog modal-md" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <div class="d-flex align-items-center">
          <h4 class="modal-title">
            {{ currentUser ? ('IM.EditUser' | translate) : ('IM.AddMember' | translate) }}
          </h4>
        </div>
        <button type="button" class="close" aria-label="Close" (click)="onReset()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">
                  <i class="fa fa-keyboard"></i>
                </span>
              </div>
              <input formControlName="name" type="name" id="name-user" name="name-user" class="form-control"
                placeholder="Name" [ngClass]="{ 'is-invalid': submitted && f.name.errors }" />
              <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                <div *ngIf="f.name.errors.required">
                  <!-- name is required -->
                  {{ 'IM.Required' | translate }}
                </div>
                <div *ngIf="f.name.errors.notUniqueName">
                  <!-- name is not unique -->
                  {{ 'IM.NotUnique' | translate }}
                </div>
              </div>
            </div>
          </div>
          <div class="form-group form-actions">
            <div class="btn-group d-flex justify-content-between">
              <button type="button" (click)="onReset()" class="btn btn-pill btn-sm btn-secondary mr-2">
                {{ 'IM.Cancel' | translate }}
              </button>
              <button type="submit" class="btn btn-pill btn-sm btn-primary">
                {{ currentUser ? ('IM.Edit' | translate) : ('IM.Add' | translate) }}
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>