<div *ngIf="dataService.account?.imAccount == null">
  <div class="d-flex justify-content-center align-items-center h-100">
    <div class="text-center">
      <h1 class="display-4">
        {{ 'IM.WelcomeMessage' | translate}}
      </h1>
      <p class="lead">
        {{ 'IM.EnableIMAccountMessage' | translate }}
      </p>
      <button (click)="createIMAccount()" class="btn btn-primary btn-lg">
        <i class="fa fa-plus"></i>
        {{ 'IM.EnableIMAccount' | translate }}
      </button>
    </div>
  </div>
</div>

<div *ngIf="dataService.account?.imAccount != null" class="position-relative">
  <div [ngStyle]="styleObject()" class="layout-im d-flex flex-column card">
    <im-header (openViewMemberModal)="openViewMemberModal($event)"></im-header>
    <div class="layout__content d-flex">
      <im-sidebar [loading]="loading" (openAddChannelModal)="openAddChannel($event)"></im-sidebar>
      <div [ngClass]="{ open: openSidebar || openSidebarRight }" class="page-content w-100">
        <router-outlet></router-outlet>
      </div>
      <im-sidebar-right [loading]="loading" (openViewMemberModal)="openViewMemberModal($event)" (openViewAttachmentModal)="openViewAttachmentModal($event)"></im-sidebar-right>
    </div>
    <!-- Add Channel Modal -->
    <im-add-channel (newChannel)="newChannel($event)"></im-add-channel>
    <!-- view member modal (members list) -->
    <im-view-member></im-view-member>
    <!-- view attachment modal (media list) -->
    <im-view-attachment></im-view-attachment>
  </div>
  <!-- error toast -->
  <im-error></im-error>
  <span class="beta-badge badge badge-danger">BETA</span>
</div>

<router-modal></router-modal>