<div bsModal #viewMember="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true" [config]="{backdrop: 'static', keyboard: false}">
  <div class="modal-dialog modal-md" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">
          {{ attachment?.alternateName }}
        </h4>
        <button type="button" class="close" aria-label="Close" (click)="viewMember.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body py-0">
        <div *ngIf="error">
          <div class="alert alert-danger" role="alert">
            {{error}}
          </div>
        </div>

        <pre>
          {{attachment | json}}
        </pre>
      </div>

      <div class="modal-footer">
        <div class="btn-group d-flex justify-content-between w-100">
          <button type="button" class="btn btn-pill btn-sm btn-secondary mr-2" (click)="viewMember.hide()">
            <i class="fa fa-times"></i>
            {{ 'IM.Close' | translate }}
          </button>
        </div>
      </div>
    </div>
  </div>
</div>