<div *ngIf="room" bsModal #hideChannel="bs-modal" class="modal fade" tabindex="-1" role="dialog"
  aria-labelledby="myModalLabel" aria-hidden="true" [config]="{backdrop: 'static', keyboard: false}">
  <div class="modal-dialog modal-md" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <div>
          <h4 class="modal-title">
            <i class="fa fa-eye-slash"></i>&nbsp;
            {{ 'IM.HideChannel' | translate }}
          </h4><br />
          <kbd title="{{room.headline.length > 40 ? room.headline : ''}}">
            <strong>#</strong>
            {{room.headline}}
          </kbd>
        </div>
        <button type="button" class="close" aria-label="Close" (click)="hideChannel.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body py-0">
        <h6>{{ 'IM.CannotBeUndoneMessage' | translate }}</h6>
      </div>
      <div class="modal-footer">
        <div class="btn-group d-flex justify-content-between w-100">
          <button type="button" class="btn btn-pill btn-sm btn-secondary mr-2" (click)="hideChannel.hide()">
            <i class="fa fa-times"></i>
            {{ 'IM.Cancel' | translate }}
          </button>
          <button (click)="hide()" type="button" class="btn btn-pill btn-sm btn-danger">
            <div *ngIf="loading" class="spinner-border spinner-border-sm" role="status">
              <span class="sr-only">Loading...</span>
            </div>
            <span>
              <i class="fa fa-eye-slash"></i>
              {{ 'IM.HideChannel' | translate }}
            </span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>