<nav class="header-im navbar navbar-expand-lg navbar-light shadow-sm d-flex justify-content-between"> 
  <div class="d-flex align-items-center justify-content-center">
    <div class="navbar-brand">
      <button (click)="onToggleSidebar()" type="button" class="btn btn-sm btn-ghost-secondary">
        <i class="fa fa-light fa-bars"></i>
      </button>
    </div>
    <h5 [tooltip]="getTooltip()" placement="right" *ngIf="selectedRoom" class="pr-2 text-truncate header-title">
      {{selectedRoom.headline}}
    </h5>
    <div class="dropdown" *ngIf="selectedRoom && selectedRoom.maintainer?.id === currentUser.id" [tooltip]="'IM.Tasks' | translate">
      <button class="btn btn-sm btn-ghost-secondary btn-pill" type="button" id="dropdownMenuActions" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fa fa-light fa-tasks"></i>
      </button>
      <div class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="dropdownMenuActions">
        <a [routerLink]="" role="button" class="dropdown-item" (click)="membersChannel()">
          <i class="fa fa-light fa-user"></i>
          {{ 'IM.ManageChannelMembers' | translate }}
        </a>
        <a [routerLink]="" role="button" class="dropdown-item" (click)="editChannel()">
          <i class="fa fa-light fa-pen"></i>
          {{ 'IM.EditChannel' | translate }}
        </a>
        <a [routerLink]="" role="button" class="dropdown-item" (click)="hideChannel()">
          <i class="fa fa-light fa-eye-slash"></i>
          {{ 'IM.HideChannel' | translate }}
        </a>
        <a [routerLink]="" role="button" class="dropdown-item" (click)="createInstantNotification()">
          <i class="fa fa-light fa-bell"></i>
          {{ 'IM.InstantNotification' | translate }}
        </a>
      </div>
    </div>
    <div class="dropdown" *ngIf="isInstructor || isAdmin" [tooltip]="'IM.Create' | translate">
      <button class="btn btn-sm btn-ghost-secondary btn-pill" type="button" id="dropdownNewChannelActions" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fa fa-light fa-plus"></i>
      </button>
      <div class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="dropdownNewChannelActions">
        <!-- ROUTER MODAL EXAMPLE -->
        <!-- <div *ngFor="let type of MessagingChannelTypes | keyvalue">
          <a [routerLink]="['/im/new/', { outlets: {modal: type.value} }]" role="button" class="dropdown-item">
            <i class="fa fa-light fa-comments"></i>
            {{'IM.Forms.' + type.value | translate}}
          </a>
        </div> -->
        
        <a (click)="openAddChannelModal(MessagingChannelTypes.CHANNEL)" role="button" class="dropdown-item">
          <i class="fa fa-light fa-comments"></i>
          {{'IM.Forms.MessagingChannel' | translate}}
        </a>
        <a (click)="openAddChannelModal(MessagingChannelTypes.DIRECT)" role="button" class="dropdown-item">
          <i class="fa fa-light fa-users"></i>
          {{'IM.Forms.DirectMessagingChannel' | translate}}
        </a>
        <a (click)="openAddChannelModal(MessagingChannelTypes.COURSE_CLASS)" role="button" class="dropdown-item">
          <i class="fa fa-light fa-book"></i>
          {{'IM.Forms.CourseClassMessagingChannel' | translate}}
        </a>
        <a (click)="openAddChannelModal(MessagingChannelTypes.STUDENT_THESIS)" role="button" class="dropdown-item">
          <i class="fa fa-light fa-graduation-cap"></i>
          {{'IM.Forms.StudentThesisMessagingChannel' | translate}}
        </a>
      </div>
    </div>
    <!-- <div *ngIf="selectedRoom" class="d-flex flex-wrap">
      <span *ngFor="let keyword of selectedRoom.keywords" class="badge badge-pill badge-light mr-2">{{keyword}}</span>
    </div> -->
  </div>
  <div class="d-flex align-items-center justify-content-center">
    <div class="d-none d-sm-inline-flex">
      <div *ngIf="selectedRoom" class="badge badge-pill badge-secondary p-1 px-2 mr-2">
        {{messagesCountChannel}}
        <span class="text-lowercase">
          {{(messagesCountChannel) !== 1 ? ('IM.Messages' | translate) : ('IM.Message' | translate)}}
        </span>
      </div>
      <div *ngIf="selectedRoom" class="badge badge-pill badge-secondary p-1 px-2 mr-2">
        {{selectedRoom.dateCreated | date: 'dd/MM/yyyy hh:mm a'}}
      </div>
      <div [tooltip]="tolMembersTemplate" placement="left" *ngIf="selectedRoom" class="badge badge-pill badge-secondary px-2 p-1">
        {{selectedRoom.members.length}}
        <span class="text-lowercase">
          {{selectedRoom && selectedRoom.members.length > 1 ? ('IM.Members' | translate) : ('IM.Member' | translate)}}
        </span>
      </div>
    </div>
    <div class="d-inline-flex ml-2 justify-content-end">
      <button (click)="onToggleSidebarRight()" type="button" class="btn btn-sm btn-ghost-secondary"><i class="fa fa-light fa-users"></i></button>
    </div>
  </div>
</nav>

<ng-template #tolMembersTemplate>
  <div *ngFor="let user of selectedRoom?.members | slice:0:10; let i=index">
    <small class="font-weight-light text-muted">
      {{user.name}}
      <span *ngIf="user.name === currentUser.name">({{ 'IM.You' | translate }})</span>
    </small>
  </div>
  <small *ngIf="selectedRoom && selectedRoom.members && selectedRoom.members.length && selectedRoom.members.length > 10" class="font-weight-light text-muted">
    and {{selectedRoom.members.length - 10}} other<span *ngIf="(selectedRoom.members.length - 10) !== 1">s</span>
  </small>
</ng-template>

<!-- members channel modal -->
<im-members-channel (editNewChannel)="editNewChannel($event)" [openViewMemberModal]="openViewMemberModal"></im-members-channel>
<!-- hide channel modal -->
<im-hide-channel></im-hide-channel>
<!-- instant notification modal -->
<im-instant-notification></im-instant-notification>
<!-- Edit Channel Modal -->
<im-edit-channel (editNewChannel)="editNewChannel($event)"></im-edit-channel>
