<div *ngIf="members.length">
  <div class="row">
    <div class="col-lg-12">
      <div class="table-responsive">
        <table class="table table-hover table-sm">
          <thead>
            <tr>
              <th>Name</th>
              <th>Created</th>
              <th>Type</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let imAccount of members | paginationPipe:currentPage:maxSize:totalItems">
              <td>
                <a class="text-primary btn btn-link"
                  (click)="viewMember(imAccount)">
                  {{ imAccount.name }}
                </a>
              </td>
              <td>{{ imAccount.dateCreated | date: 'EEEE, MMMM d, yyyy hh:mm:ss a' }}</td>
              <td>
                <span [class]="imAccount.class">{{ imAccount.additionalType }}</span>
              </td>
              <td>
                <button [disabled]="members.length === 1 || imAccount.name === currentUser.name"
                  (click)="remove(imAccount)" type="button" class="btn btn-sm btn-ghost-danger btn-pill"
                  [class]="(members.length === 1 || imAccount.name === currentUser.name) ? 'border-0' : ''">
                  <i class="fa fa-light fa-trash d-flex"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <pagination *ngIf="members.length > maxSize" [totalItems]="totalItems" (pageChanged)="pageChanged($event)"
    [itemsPerPage]="maxSize" [maxSize]="maxSize" class="pagination-sm d-flex justify-content-end"
    previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;" [boundaryLinks]="true"
    [rotate]="false"></pagination>
</div>