<div bsModal #threadMessages="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true" [config]="{backdrop: true, keyboard: true}">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content px-0 py-0">
      <div class="modal-header">
        <h4 class="modal-title">
          <i class="fa fa-reply-all"></i>
          {{ 'IM.Thread' | translate }}
        </h4>
        <button type="button" class="close m-0" (click)="threadMessages.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body py-0 m-0 px-0">
        <div *ngIf="message" class="card shadow-none mb-0" style="border-radius: 0 0 0.3rem 0.3rem;">
          <div class="card-body">
            <h5 class="card-title d-flex align-items-center m-0">
              {{message.sender.name}}
              <h6 class="m-0">
                <div class="badge badge-pill px-2 badge-secondary ml-1">
                  {{totalRepliesMessages}}
                  <span class="text-lowercase">
                    {{totalRepliesMessages === 1 ? ('IM.Reply' | translate) : ('IM.Replies' | translate)}}
                  </span>
                </div>
                <div class="badge badge-pill px-2 badge-secondary ml-1">
                  {{message.dateCreated | date: 'dd/MM/yyyy hh:mm a'}}
                </div>
              </h6>
            </h5>
            <hr class="mt-2 mb-2" />
            <div class="content-results">
              <span [innerHTML]="message.body | noSanitize"></span>
            </div>
          </div>
        </div>
        <hr class="my-1" />
        <div class="card shadow-none mb-0" style="border-radius: 0 0 0.3rem 0.3rem;">
          <div [ngStyle]="styleObject()" class="card-body d-flex flex-column overflow-hidden">
            <div class="flex-grow-1 d-flex align-items-stretch overflow-hidden">
              <ng-container *ngTemplateOutlet="loadingInitMessages ? contentLoader: dataContent">
              </ng-container>
              <ng-template #contentLoader>
                <div class="w-100 d-flex align-items-center justify-content-center">
                  <div class="spinner-border text-secondary" role="status"></div>
                </div>
              </ng-template>
              <ng-template #dataContent>
                <ng-container *ngTemplateOutlet="messages.length ? messagesContent: noContent">
                </ng-container>
                <ng-template #messagesContent>
                  <im-content-messages (toggleReaction)="reactionAction($event)" (fetchMore)="fetchMore()"
                    (deleteMessage)="deleteMessage($event)" [disabled]="disabled" [isLoading]="loadingMessages"
                    [isReplyChat]="true"></im-content-messages>
                </ng-template>
                <ng-template #noContent>
                  <div class="w-100 d-flex align-items-center justify-content-center">
                    <div class="d-flex flex-column align-items-center justify-content-center h-100 w-100">
                      <h1 class="fa fa-exclamation text-muted"></h1>
                      <span class="text-muted" [translate]="'IM.NoReplies'"></span>
                    </div>
                  </div>
                </ng-template>
              </ng-template>
            </div>
            <im-content-actions [isReplyChat]="true" [message]="message" [selectedId]="channel.id"
              (updateMessageReply)="updateMessageReply()"></im-content-actions>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>