.content-results {
  overflow: auto;
  max-height: 200px;

  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-track {
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgb(170, 170, 170, 0.6);
    border-radius: 6px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: #999;
  }
}

.card-body {
  padding: 1rem;
}

im-content-messages {
  height: auto !important;
}