<div bsModal #addChannelModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true" [config]="{backdrop: 'static', keyboard: false}">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">
          <div class="d-flex align-items-center">
            <i class="fa fa-plus"></i>&nbsp;
            {{ 'IM.AddChannel' | translate }}
          </div>
        </h4>
        <button (click)="openAddMemberModal()" type="button"
          class="btn btn-pill btn-primary btn-sm ">
          <span class="text-nowrap">
            <i class="fa fa-light fa-plus pr-2"></i>
            {{ 'IM.AddMember' | translate }}
          </span>
        </button>
        <button type="button" class="close" aria-label="Close" (click)="onReset()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <!-- Headline -->
            <div class="input-group mb-2">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="fa fa-heading"></i></span>
              </div>
              <input formControlName="headline" type="text" id="headline-user" name="headline-user" class="form-control"
                [placeholder]="'IM.Headline' | translate" [ngClass]="{ 'is-invalid': submitted && f.headline.errors }" />
              <div *ngIf="submitted && f.headline.errors" class="invalid-feedback">
                <div *ngIf="f.headline.errors.required">
                  <!-- headline is required -->
                  {{ 'IM.Required' | translate }}
                </div>
              </div>
            </div>

            <!-- Read Only -->
            <div class="input-group mb-2">
              <div class="input-group-prepend">
                <span class="input-group-text font-weight-bold">
                  <i class="fa fa-lock"></i>
                </span>
              </div>
              <select formControlName="readOnly" id="read-only" name="read-only" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.readOnly.errors }">
                <option *ngFor="let item of lockValues" [value]="item.value">
                  {{ item.label | translate }}
                </option>
              </select>
              <div *ngIf="submitted && f.readOnly.errors" class="invalid-feedback">
                <div *ngIf="f.readOnly.errors.required">
                  <!-- read only value is required -->
                  {{ 'IM.Required' | translate }}
                </div>
              </div>
            </div>

            <!-- Channel Type -->
            <div class="input-group mb-2">
              <div class="input-group-prepend">
                <span class="input-group-text font-weight-bold">
                  <i class="fa fa-hashtag"></i>
                  <span class="pl-1">{{ 'IM.Type' | translate }}</span>
                </span>
              </div>
              <select formControlName="modelType" id="channel-type" name="channel-type" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.type.errors }">
                <option *ngFor="let item of MessagingChannelTypes | keyvalue" [value]="item.value">
                  {{'IM.Forms.' + item.value | translate}}
                </option>
              </select>
              <div *ngIf="submitted && f.type.errors" class="invalid-feedback">
                <div *ngIf="f.type.errors.required">Channel type is required</div>
              </div>
            </div>
          </div>

          <!-- Channel keywords -->
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">
                <i class="fa fa-key"></i>
                {{ 'IM.Keywords' | translate }}
              </h5>
              <h4 class="d-flex flex-wrap">
                <span *ngFor="let keyword of keywords" class="badge badge-pill badge-primary m-1">
                  <div class="d-flex align-items-center">
                    <div class="pb-1 mr-2">{{keyword}}</div>
                    <button (click)="removeKeyword(keyword)" type="button"
                      class="btn btn-sm btn-ghost-light btn-pill py-0">
                      <i class="fa fa-light fa-times"></i>
                    </button>
                  </div>
                </span>
              </h4>
              <div class="input-group">
                <input formControlName="keyword" type="text" id="keyword-user" name="keyword-user" class="form-control"
                  placeholder="Keyword">
                <span class="input-group-append">
                  <button [disabled]="!this.form.controls['keyword'].value.trim()" (click)="appendKeyword()"
                    type="button" class="btn btn-primary">
                    <i class="fa fa-light fa-plus"></i>
                  </button>
                </span>
              </div>
            </div>
          </div>

          <!-- Channel members -->
          <im-new-members-table [members]="newMembers" [maxSize]="maxSize"
            (removeEmit)="removeEmit($event)" (editEmit)="editEmit($event)"></im-new-members-table>

          <!-- Actions -->
          <div class="form-group form-actions">
            <div class="btn-group d-flex justify-content-between">
              <button type="button" (click)="onReset()" class="btn btn-pill btn-sm btn-secondary mr-2">
                <i class="fa fa-times"></i>
                {{ 'IM.Cancel' | translate }}
              </button>
              <button [disabled]="newMembers.length < 1" type="submit"
                class="btn btn-pill btn-sm btn-primary">
                <div *ngIf="loading" class="spinner-border spinner-border-sm" role="status">
                  <span class="sr-only">Loading...</span>
                </div>
                <span>
                  <i class="fa fa-save"></i>
                  {{ 'IM.Create' | translate }}
                </span>
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<im-add-edit-member-channel [newMembers]="newMembers" (newUser)="newUser($event)"
  (editUser)="editUser($event)"></im-add-edit-member-channel>