<div #chatScroll class="content-results py-2 px-3" (scroll)="onScroll($event)">
  <div *ngFor="let message of messages; trackBy:trackByIndex">
    <div [ngClass]="isOwner(message) ? 'justify-content-end' : 'justify-content-start'" class="d-flex">
      <div [ngStyle]="styleObject()" class="d-flex flex-column"
        [ngClass]="isOwner(message) ? 'align-items-end' : 'align-items-start'">
        <small [ngClass]="{'pt-2': message.extraPadding}" *ngIf="message.hasName" class="font-weight-light text-muted">
          {{message.sender.name}}
          <span *ngIf="isOwner(message)">
            ({{ 'IM.You' | translate }})
          </span>
        </small>
        <div class="d-flex align-items-center w-100"
          [ngClass]="isOwner(message) ? 'justify-content-end' : 'justify-content-start'">
          <ng-container *ngIf="currentUser.id !== message.owner; else buttons"></ng-container>
          <div class="position-relative badge text-light p-2 w-100 mt-1"
            [ngClass]="!isInstantNotification(message) ? (isOwner(message) ? 'badge-primary' : 'badge-light') : 'badge-warning'"
            [tooltip]="tolTemplate"
            [placement]="isOwner(message) ? 'left' : 'right'"
          >
            <div class="inner__message" [ngClass]="!isInstantNotification(message) ? (isOwner(message) ? 'text-white' : 'text-secondary') : 'text-dark'"
              [innerHTML]="message.body | noSanitize">
            </div>
            <div *ngIf="isInstantNotification(message)"
              class="notification-badge">🔔</div>
          </div>
          <ng-container *ngIf="isOwner(message); else buttons"></ng-container>
          <ng-template #tolTemplate>
            <small class="font-weight-light text-muted text-secondary">
              {{ message.dateCreated | date: 'dd/MM/yyyy hh:mma' }}
            </small>
          </ng-template>

          <ng-template #buttons>
            <div [ngClass]="{'flex-row-reverse': currentUser.id !== message.owner}" class="d-flex flex-row mx-1">
              <div *ngIf="message.hasReply && !isReplyChat" class="btn-group">
                <button (click)="threadMessage(message)" type="button" class="btn btn-sm btn-ghost-secondary">
                  <i class="fas fa-reply-all"></i>
                </button>
              </div>
              <div class="dropdown">
                <button type="button" class="btn btn-sm btn-ghost-secondary" id="dropdownMenuReactionButton"
                  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="far fa-smile"></i>
                </button>
                <div class="dropdown-menu text-secondary" role="menu" aria-labelledby="dropdownMenuReactionButton"
                  [ngClass]="isOwner(message) ? 'dropdown-menu-right' : 'dropdown-menu-left'">
                  <a [routerLink]="" role="button" class="dropdown-item"
                    (click)="reactionAction(message, ReactionType.LIKE)"
                    [ngClass]="message.liked ? 'text-primary' : ''">
                    <i class="far fa-thumbs-up text-primary"></i>
                    Like
                  </a>
                  <a [routerLink]="" role="button" class="dropdown-item"
                    (click)="reactionAction(message, ReactionType.SUPER)"
                    [ngClass]="message.supered ? 'text-danger' : ''">
                    <i class="far fa-heart text-danger"></i>
                    Super
                  </a>
                </div>
              </div>
              <div class="dropdown">
                <button type="button" class="btn btn-sm btn-ghost-secondary" id="dropdownMenuThreadButton"
                  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="fas fa-ellipsis-v"></i>
                </button>
                <!-- [ngClass]="isOwner(message) ? 'dropdown-menu-right' : 'dropdown-menu-left'" -->
                <div class="dropdown-menu" role="menu" aria-labelledby="dropdownMenuThreadButton"
                  [ngClass]="isOwner(message) ? 'dropdown-menu-right' : 'dropdown-menu-left'">
                  <a *ngIf="!isReplyChat" [routerLink]="" role="button" class="dropdown-item"
                    (click)="threadMessage(message)">
                    <i class="fas fa-reply-all"></i>
                    {{ 'IM.Thread' | translate }}
                  </a>
                  <div *ngIf="isOwner(message) && !isReplyChat" class="divider dropdown-divider"></div>
                  <a *ngIf="isOwner(message)" role="button" class="dropdown-item text-danger"
                    (click)="deleteAction(message)">
                    <i class="far fa-trash-alt"></i>
                    {{ 'IM.Delete' | translate }}
                  </a>
                </div>
              </div>
            </div>
          </ng-template>
        </div>
        <div class="d-flex align-items-center reaction__section">
          <div *ngIf="message.likes?.length" container="body" [tooltip]="tolLikesTemplate"
            [placement]="isOwner(message) ? 'left' : 'right'" class="d-flex align-items-baseline pr-1">
            <div class="pr-1 text-secondary">
              {{message.likes?.length}}
            </div>
            <i [ngClass]="message.liked ? 'fas' : 'far'" class="fa-thumbs-up text-primary"></i>
          </div>
          <div *ngIf="message.super?.length" container="body" [tooltip]="tolSuperTemplate"
            [placement]="isOwner(message) ? 'left' : 'right'" class="d-flex align-items-baseline">
            <div class="pr-1 text-secondary">
              {{message.super?.length}}
            </div>
            <i [ngClass]="message.supered ? 'fas' : 'far'" class="fa-heart text-danger"></i>
          </div>
          <ng-template #tolSuperTemplate>
            <div *ngFor="let member of message.super | slice:0:5; let i=index">
              <small class="font-weight-light text-muted">
                {{member.name}}
                <span *ngIf="member.id === currentUser.id"> ({{ 'IM.You' | translate }})</span>
              </small>
            </div>
            <small *ngIf="message && message.super && message.super.length && message.super.length > 5"
              class="font-weight-light text-muted">
              and {{message.super.length - 5}} other<span *ngIf="(message.super.length - 5) !== 1">s</span>
            </small>
          </ng-template>
          <ng-template #tolLikesTemplate>
            <div *ngFor="let member of message.likes | slice:0:5; let i=index">
              <small class="font-weight-light text-muted">
                {{member.name}}
                <span *ngIf="member.id === currentUser.id"> ({{ 'IM.You' | translate }})</span>
              </small>
            </div>
            <small *ngIf="message && message.likes && message.likes.length && message.likes.length > 5"
              class="font-weight-light text-muted">
              and {{message.likes.length - 5}} other<span *ngIf="(message.likes.length - 5) !== 1">s</span>
            </small>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</div>

<im-content-thread *ngIf="!isReplyChat"></im-content-thread>