<div class="d-flex flex-column align-items-center justify-content-center h-100 w-100">
    <h1 class="fa fa-comments text-info"></h1>
    <span class="text-muted" [translate]="'IM.SelectChannel'"></span>
</div>
